@using EntityLayer.Concrete
@model List<Feature>

<div class="best-rooms py-5">
	<div class="container py-md-5">
		<div class="ban-content-inf row">

			@{
				var values1 = Model.Take(1);
				var values2 = Model.TakeLast(2);
				string cssCard = null;
			}

			@if (values1.Any(x => x.FeatureID == Model[0].FeatureID))
			{
				<div class="maghny-gd-1 col-lg-6">
					<div class="maghny-grid">
						<figure class="effect-lily border-radius  m-0">
							<img class="img-fluid" src="@Model[0].Image" alt="" />
							<figcaption>
								<div>
									<h4>@Model[0].Title</h4>
									<p>@Model[0].Description </p>
								</div>

							</figcaption>
						</figure>
					</div>
				</div>
			}
			<div class="maghny-gd-1 col-lg-6 mt-lg-0 mt-4">
				<div class="row">
					@foreach (var item in Model.Skip(1).ToList())
					{
						@if (values2.Any(x => x.FeatureID == item.FeatureID)) cssCard = "mt-4";
						else cssCard = null;
						<div class="maghny-gd-1 col-6 @cssCard">
							<div class="maghny-grid">
								<figure class="effect-lily border-radius">
									<img class="img-fluid" src="@item.Image" alt="" />
									<figcaption>
										<div>
											<h4>@item.Title</h4>
											<p>@item.Description </p>
										</div>

									</figcaption>
								</figure>
							</div>
						</div>
					}
				</div>
			</div>
		</div>
	</div>
</div>

@* 1.Revize İşlemi
    <div class="best-rooms py-5">
    <div class="container py-md-5">
        <div class="ban-content-inf row">
            <div class="maghny-gd-1 col-lg-6">
                <div class="maghny-grid">
                    <figure class="effect-lily border-radius  m-0">
                        <img class="img-fluid" src="@Model.FirstOrDefault().Image" alt="" />
                        <figcaption>
                            <div>
                                <h4>@Model.FirstOrDefault().Title</h4>
                                <p>@Model.FirstOrDefault().Description</p>
                            </div>

                        </figcaption>
                    </figure>
                </div>
            </div>

            <div class="maghny-gd-1 col-lg-6 mt-lg-0 mt-4">
                <div class="row">
                    @for (var i = 1; i <= 4; i++)
                    {
                        <div class="maghny-gd-1 col-6">
                            <div class="maghny-grid">
                                <figure class="effect-lily border-radius">
                                    <img class="img-fluid" src="@Model[i].Image" alt="" />
                                    <figcaption>
                                        <div>
                                            <h4>@Model[i].Title</h4>
                                            <p>@Model[i].Description</p>
                                        </div>

                                    </figcaption>
                                </figure>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>*@

@* Orjinal Hali
    <div class="best-rooms py-5">
    <div class="container py-md-5">
        <div class="ban-content-inf row">
            <div class="maghny-gd-1 col-lg-6">
                <div class="maghny-grid">
                    <figure class="effect-lily border-radius  m-0">
                        <img class="img-fluid" src="~/Traversal-Starter/assets/images/g10.jpg" alt="" />
                        <figcaption>
                            <div>
                                <h4>3Days, 4 Nights</h4>
                                <p>From 1720$ </p>
                            </div>

                        </figcaption>
                    </figure>
                </div>
            </div>
            <div class="maghny-gd-1 col-lg-6 mt-lg-0 mt-4">
                <div class="row">
                    <div class="maghny-gd-1 col-6">
                        <div class="maghny-grid">
                            <figure class="effect-lily border-radius">
                                <img class="img-fluid" src="~/Traversal-Starter/assets/images/g9.jpg" alt="" />
                                <figcaption>
                                    <div>
                                        <h4>3Days, 4 Nights</h4>
                                        <p>From 1220$ </p>
                                    </div>

                                </figcaption>
                            </figure>
                        </div>
                    </div>
                    <div class="maghny-gd-1 col-6">
                        <div class="maghny-grid">
                            <figure class="effect-lily border-radius">
                                <img class="img-fluid" src="~/Traversal-Starter/assets/images/g8.jpg" alt="" />
                                <figcaption>
                                    <div>
                                        <h4>3Days, 4 Nights</h4>
                                        <p>From 1620$ </p>
                                    </div>

                                </figcaption>
                            </figure>
                        </div>
                    </div>
                    <div class="maghny-gd-1 col-6 mt-4">
                        <div class="maghny-grid">
                            <figure class="effect-lily border-radius">
                                <img class="img-fluid" src="~/Traversal-Starter/assets/images/g7.jpg" alt="" />
                                <figcaption>
                                    <div>
                                        <h4>3Days, 4 Nights</h4>
                                        <p>From 1820$ </p>
                                    </div>

                                </figcaption>
                            </figure>
                        </div>
                    </div>
                    <div class="maghny-gd-1 col-6 mt-4">
                        <div class="maghny-grid">
                            <figure class="effect-lily border-radius">
                                <img class="img-fluid" src="~/Traversal-Starter/assets/images/g6.jpg" alt="" />
                                <figcaption>
                                    <div>
                                        <h4>3Days, 4 Nights</h4>
                                        <p>From 1520$ </p>
                                    </div>

                                </figcaption>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>*@
